<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/chm_db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <!--suppress HibernateConfigDomInspection -->
        <property name="connection.password">53721456</property>
        <property name="current_session_context_class">thread</property>
        <!--suppress HibernateConfigDomInspection -->
        <!--<property name="connection.password">!Bezdrik14</property>-->
        <!--<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
        <!--<property name="hibernate.c3p0.acquire_increment">1</property>-->
        <!--<property name="hibernate.c3p0.min_size">5</property>-->
        <!--<property name="hibernate.c3p0.max_size">15</property>-->
        <!--<property name="hibernate.c3p0.max_statements">50</property>-->
        <!--<property name="hibernate.c3p0.timeout">0</property>-->
        <!--<property name="hibernate.c3p0.acquireRetryAttempts">1</property>-->
        <!--<property name="hibernate.c3p0.acquireRetryDelay">250</property>-->

        <property name="connection.pool_size">20</property>
        <property name="show_sql">false</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <mapping class="entity.User"/>
        <mapping class="entity.Worker"/>
        <mapping class="entity.Person"/>
        <mapping class="entity.PhoneNumber"/>
        <mapping class="entity.products.ProductGroup"/>
        <mapping class="entity.products.Product"/>
        <mapping class="entity.products.ProductProperty"/>
        <mapping class="entity.transport.Driver"/>
        <mapping class="entity.transport.Vehicle"/>
        <mapping class="entity.organisations.Organisation"/>
        <mapping class="entity.organisations.OrganisationType"/>
        <mapping class="entity.transport.Transportation"/>
        <mapping class="entity.transport.ActionTime"/>
        <mapping class="entity.documents.Deal"/>
        <mapping class="entity.documents.DocumentOrganisation"/>
        <mapping class="entity.documents.LoadPlan"/>
        <mapping class="entity.log.ChangeLog"/>
        <mapping class="entity.log.Change"/>
        <mapping class="entity.documents.DocumentUID"/>
        <mapping class="entity.ApplicationSettings"/>
        <mapping class="entity.weight.Weight"/>
        <mapping class="entity.weight.WeightUnit"/>
        <mapping class="entity.laboratory.SunAnalyses"/>
        <mapping class="entity.laboratory.OilAnalyses"/>
        <mapping class="entity.laboratory.CakeAnalyses"/>
        <mapping class="entity.laboratory.transportation.SunTransportationAnalyses"/>
        <mapping class="entity.laboratory.transportation.OilTransportationAnalyses"/>
        <mapping class="entity.laboratory.transportation.CakeTransportationAnalyses"/>
        <mapping class="entity.Subdivision"/>
        <mapping class="entity.laboratory.probes.SunProbe"/>
        <mapping class="entity.laboratory.probes.OilProbe"/>
        <mapping class="entity.production.TurnSettings"/>
        <mapping class="entity.production.Turn"/>
        <mapping class="entity.production.Forpress"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionTurn"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionCrude"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionRaw"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionOIl"/>
        <mapping class="entity.laboratory.subdivisions.vro.VROTurn"/>
        <mapping class="entity.laboratory.subdivisions.vro.VROCrude"/>
        <mapping class="entity.laboratory.subdivisions.vro.ForpressCake"/>
        <mapping class="entity.laboratory.subdivisions.vro.VROOil"/>
        <mapping class="entity.laboratory.subdivisions.vro.VRODaily"/>
        <mapping class="entity.seals.Seal"/>
        <mapping class="entity.seals.SealBatch"/>
        <mapping class="entity.bot.UserBotSetting"/>
        <mapping class="bot.BotUID"/>
        <mapping class="entity.bot.BotSettings"/>
        <mapping class="entity.storages.Storage"/>
        <mapping class="entity.storages.StorageProduct"/>
        <mapping class="entity.laboratory.subdivisions.extraction.StorageProtein"/>
        <mapping class="entity.laboratory.subdivisions.extraction.TurnProtein"/>
        <mapping class="entity.laboratory.subdivisions.extraction.TurnGrease"/>
        <mapping class="entity.laboratory.subdivisions.extraction.StorageGrease"/>
        <mapping class="entity.laboratory.subdivisions.vro.OilMassFraction"/>
        <mapping class="entity.laboratory.subdivisions.vro.OilMassFractionDry"/>
        <mapping class="entity.laboratory.subdivisions.vro.ForpressCakeDaily"/>
        <mapping class="entity.laboratory.subdivisions.vro.ForpressCakeDailyDry"/>
        <mapping class="entity.laboratory.subdivisions.kpo.KPOPart"/>
        <mapping class="entity.rails.Train"/>
        <mapping class="entity.rails.Truck"/>
        <mapping class="entity.rails.TruckTransportation"/>
        <mapping class="entity.laboratory.LaboratoryTurn"/>
        <mapping class="entity.laboratory.storages.StorageTurn"/>
        <mapping class="entity.laboratory.storages.StorageAnalyses"/>
        <mapping class="entity.Admin"/>
        <mapping class="entity.laboratory.transportation.ActNumber"/>
    </session-factory>
</hibernate-configuration>