<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <!--<property name="connection.url">jdbc:postgresql://10.10.10.201:5432/chm_db</property>-->
        <property name="connection.url">jdbc:postgresql://localhost:5432/chm_db</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <!--suppress HibernateConfigDomInspection -->
        <property name="connection.password">53721456</property>
        <!--suppress HibernateConfigDomInspection -->
        <!--<property name="connection.password">postgres_53721456</property>-->
        <property name="current_session_context_class">thread</property>
        <property name="connection.pool_size">20</property>
        <property name="show_sql">false</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <mapping class="entity.User"/>
        <mapping class="entity.Worker"/>
        <mapping class="entity.Person"/>
        <mapping class="entity.PhoneNumber"/>
        <mapping class="entity.products.ProductGroup"/>
        <mapping class="entity.products.Product"/>
        <mapping class="entity.products.ProductProperty"/>
        <mapping class="entity.transport.Driver"/>
        <mapping class="entity.transport.Vehicle"/>
        <mapping class="entity.transport.Truck"/>
        <mapping class="entity.transport.Trailer"/>
        <mapping class="entity.transport.Number"/>
        <mapping class="entity.organisations.Organisation"/>
        <mapping class="entity.organisations.OrganisationType"/>
        <mapping class="entity.transport.Transportation"/>
        <mapping class="entity.transport.TransportationProduct"/>
        <mapping class="entity.transport.TransportationNote"/>
        <mapping class="entity.transport.ActionTime"/>
        <mapping class="entity.transport.TransportStorageUsed"/>
        <mapping class="entity.documents.Deal"/>
        <mapping class="entity.deal.Contract"/>
        <mapping class="entity.deal.ContractNote"/>
        <mapping class="entity.deal.ContractProduct"/>
        <mapping class="entity.deal.ContractProductNote"/>
        <mapping class="entity.documents.Shipper"/>
        <mapping class="entity.documents.LoadPlan"/>
        <mapping class="entity.log.ChangeLog"/>
        <mapping class="entity.log.Change"/>
        <mapping class="entity.documents.DocumentUID"/>
        <mapping class="entity.ApplicationSettings"/>
        <mapping class="entity.weight.Weight"/>
        <mapping class="entity.weight.WeightUnit"/>
        <mapping class="entity.laboratory.SunAnalyses"/>
        <mapping class="entity.laboratory.OilAnalyses"/>
        <mapping class="entity.laboratory.MealAnalyses"/>
        <mapping class="entity.laboratory.CakeAnalyses"/>
        <mapping class="entity.Subdivision"/>
        <mapping class="entity.laboratory.probes.ProbeTurn"/>
        <mapping class="entity.laboratory.probes.SunProbe"/>
        <mapping class="entity.laboratory.probes.OilProbe"/>
        <mapping class="entity.laboratory.probes.MealProbe"/>
        <mapping class="entity.laboratory.probes.CakeProbe"/>
        <mapping class="entity.production.TurnSettings"/>
        <mapping class="entity.production.Turn"/>
        <mapping class="entity.production.Forpress"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionTurn"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionCrude"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionRaw"/>
        <mapping class="entity.laboratory.subdivisions.extraction.ExtractionOIl"/>
        <mapping class="entity.laboratory.subdivisions.vro.VROTurn"/>
        <mapping class="entity.laboratory.subdivisions.vro.VROCrude"/>
        <mapping class="entity.laboratory.subdivisions.vro.ForpressCake"/>
        <mapping class="entity.laboratory.subdivisions.vro.VROOil"/>
        <mapping class="entity.laboratory.subdivisions.vro.VRODaily"/>
        <mapping class="entity.laboratory.subdivisions.vro.GranulesAnalyses"/>
        <mapping class="entity.laboratory.subdivisions.vro.SunProtein"/>
        <mapping class="entity.seals.Seal"/>
        <mapping class="entity.seals.SealBatch"/>
        <mapping class="entity.bot.UserBotSetting"/>
        <mapping class="bot.BotUID"/>
        <mapping class="entity.bot.BotSettings"/>
        <mapping class="entity.storages.Storage"/>
        <mapping class="entity.storages.StorageProduct"/>
        <mapping class="entity.storages.StorageEntry"/>
        <mapping class="entity.storages.StoragePeriodPoint"/>
        <mapping class="entity.laboratory.subdivisions.extraction.StorageProtein"/>
        <mapping class="entity.laboratory.subdivisions.extraction.TurnProtein"/>
        <mapping class="entity.laboratory.subdivisions.extraction.TurnGrease"/>
        <mapping class="entity.laboratory.subdivisions.extraction.StorageGrease"/>
        <mapping class="entity.laboratory.subdivisions.vro.OilMassFraction"/>
        <mapping class="entity.laboratory.subdivisions.vro.OilMassFractionDry"/>
        <mapping class="entity.laboratory.subdivisions.vro.ForpressCakeDaily"/>
        <mapping class="entity.laboratory.subdivisions.vro.ForpressCakeDailyDry"/>
        <mapping class="entity.laboratory.subdivisions.extraction.TurnCellulose"/>
        <mapping class="entity.laboratory.subdivisions.kpo.KPOPart"/>
        <mapping class="entity.laboratory.turn.LaboratoryTurn"/>
        <mapping class="entity.laboratory.turn.LaboratoryTurnWorker"/>
        <mapping class="entity.laboratory.storages.StorageTurn"/>
        <mapping class="entity.laboratory.storages.StorageAnalyses"/>
        <mapping class="entity.Admin"/>
        <mapping class="entity.laboratory.transportation.ActNumber"/>
        <mapping class="entity.ArchiveData"/>
        <mapping class="entity.chat.Chat"/>
        <mapping class="entity.chat.ChatMember"/>
        <mapping class="entity.chat.ChatMessage"/>
        <mapping class="entity.reports.ManufactureReport"/>
        <mapping class="entity.manufactoring.ReportMessageLink"/>
        <mapping class="entity.reports.ReportField"/>
        <mapping class="entity.reports.ReportFieldSettings"/>
        <mapping class="entity.reports.ReportFieldCategory"/>
        <mapping class="entity.rails.Carriage"/>
        <mapping class="entity.rails.CarriageLoadPlan"/>
        <mapping class="entity.rails.CarriageAnalyses"/>
        <mapping class="entity.storages.StorageProductReplace"/>
        <mapping class="entity.storages.StorageProductReplaceEntry"/>
    </session-factory>
</hibernate-configuration>