<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
        <session-factory>
            <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    <!--        <property name="connection.url">jdbc:postgresql://10.10.10.201:5432/chm_db</property>-->
            <property name="connection.url">jdbc:postgresql://localhost:5432/checkman_db</property>
            <property name="connection.driver_class">org.postgresql.Driver</property>
            <property name="connection.username">postgres</property>
            <!--suppress HibernateConfigDomInspection -->
            <property name="connection.password">53721456</property>
            <!--suppress HibernateConfigDomInspection -->
            <!--<property name="connection.password">postgres_53721456</property>-->
            <property name="current_session_context_class">thread</property>
            <property name="connection.pool_size">20</property>
            <property name="show_sql">false</property>
            <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
            <mapping class="entity.User"/>
            <mapping class="entity.Worker"/>
            <mapping class="entity.Person"/>
            <mapping class="entity.PhoneNumber"/>
            <mapping class="entity.references.Product"/>
            <mapping class="entity.references.ProductAction"/>
            <mapping class="entity.references.Organisation"/>
            <mapping class="entity.references.Address"/>
            <mapping class="entity.deals.Deal"/>
            <mapping class="entity.deals.DealDocument"/>
            <mapping class="entity.deals.DealProduct"/>
            <mapping class="entity.weight.Unit"/>
            <mapping class="entity.deals.Shipper"/>
            <mapping class="entity.ActionTime"/>
            <mapping class="entity.references.Driver"/>
            <mapping class="entity.references.Vehicle"/>
            <mapping class="entity.references.Trailer"/>
            <mapping class="entity.transportations.Transportation"/>
            <mapping class="entity.transportations.TransportationDocument"/>
            <mapping class="entity.transportations.TransportationProduct"/>
            <mapping class="entity.transportations.TransportationNote"/>
            <mapping class="entity.weight.Weight"/>
            <mapping class="entity.rails.Train"/>
            <mapping class="entity.rails.Carriage"/>
        </session-factory>
    </hibernate-configuration>