*{
    font-family: SegouUI, monospace;
    color: #333333;
    user-select: none;
    -moz-user-select: -moz-none;
}
.note{
    font-size: 10pt;
    color: dimgray;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
body{
    background-color: aliceblue;
}
button{
    border: solid #7ecfcf 1.2pt;
    min-width: 70pt;
    border-radius: 4pt;
    font-size: 10pt;
    background-color: whitesmoke;
}
input{
    border-radius: 8pt;
    padding: 0 6pt;
}
button:hover{
    box-shadow: 0 0 4pt 0 gray;
}
button:focus, input:focus{
    outline: none;
    border-color: #86cbcb;
}
.header-wrapper{
    width: 100%;
    background-color: #5F9EA0;

}
.header {
    padding: 2pt 8pt;
    display: inline-block;
}
.header-content{
    font-size: 18pt;
    padding: 0 8pt;
    font-weight: bold;
}
.header * {
    background-color: transparent;
}

.container-header{
    display: inline-block;
    padding: 1pt;
    vertical-align: text-bottom;
}

.modal-layer{
    width: 100%;
    max-width: 1390px;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(240, 248, 255, 0.65);
}
.work-area{
    height: 100%;
    max-height: 100%;
    max-width: 1170px;
    width: 100%;
}
.wrapper {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    background-color: aliceblue;
    overflow-y: scroll;
    overflow-x: hidden;
}
.static-content{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;
    background-color: #5F9EA0;
}
.fast-container{
    border-left: solid gray 1pt;
    height: 100%;
}
.fast-content{
    height: 100%;
}
.custom-data-list{
    font-size: 10pt;
    width: 250px;
    height: fit-content;
    background-color: white;
    color: #4c7b7b;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4pt 4px gray;
    margin-left: 4pt;
    max-height: 200pt;
    overflow-y: scroll;
}
.custom-data-list::-webkit-scrollbar {
    width: 4px;
}

.custom-data-list-item{
    border-bottom: dotted gray 1pt;
    padding: 8pt 4pt;
}
.custom-data-list-item:hover{
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #fbba00;
}
::-webkit-scrollbar-thumb:hover {
    background: #f4b400;
}
.object-block{
    background-color: lightgray;
    border: solid 1pt;
    padding: 0 4pt;
    border-radius: 4pt;
    font-size: 10pt;
    margin: 0 2pt;
}
.context-menu{
    font-size: 10pt;
    height: fit-content;
    background-color: white;
    color: #4c7b7b;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4pt 4px gray;
    margin-left: 4pt;
}
.menu-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 127, 255, 0.16);
    position: absolute;
    top: 0;
    left: 0;
}
.custom-data-list-item[disable]{
    color: #e2e2e2;
}
.datetime-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 207, 207, 0.32);
    z-index: 200;
}
.datetime-picker .picker-content{
    position: absolute;
    margin: auto;
}
.v-btn__content{
    align-items:center;
    border-radius:inherit;
    color:inherit;
    display:flex;
    flex:1 0 auto;
    justify-content:center;
    margin:0 auto;
    position:relative;
    transition:.3s cubic-bezier(.25,.8,.5,1);
    white-space:nowrap;
    width:inherit
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.mini-close{
    border-radius: 8pt;
    padding: 0 5px;
    position: relative;
}
.mini-close:hover{
    text-shadow: 0 0 2px gray;
}
.flipY{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1)
    display: inline-block;
}

.error{
    font-size: 10pt;
    color: orangered;
}
input.error {
    border-color: orangered;
}

.edit-menu-header{
    position: relative;
    margin: 2pt;
    color: #808080;
}
.edit-menu-header .arrow{
    position: absolute;
    right: 50%;
    top: 0;
}
.edit-menu-header:hover .arrow{
    color: white;
}
.edit-menu-header:hover .edit-menu{
    display: block;
}
.edit-menu{
    display: none;
    position: absolute;
    width: 15em;
    right: -2px;
    top: 2px;
    background-color: #909090;
    padding: 1pt 4pt;
    font-size: 8pt;
    border-radius: 2pt;
    box-shadow: 0 0 6px 4px white;
    z-index: 100;
}
.edit-menu span{
    color: #d1d1d1;
    width: 100%;
    display: inline-block;
    padding: 2pt 2pt;
}

.edit-menu span:hover{
    color: #f0f0f0;
}
.page-container{
    padding: 4pt;
    margin: 2pt;
    box-shadow: 0 0 4px 2px gray;
}
.body-table {
    border-collapse: collapse;
}
.underlined{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
.green{
    font-weight: bold;
    color: green;
}