.mini-close{
    padding: 0;
}
.mini-id{
    font-size: 8pt;
    color: gray;
}
.transport-row{
    font-size: 10pt;
    padding: 1pt;
    margin: 1pt;
    border: solid gray 1pt;
}
.transport-row-0{
    background-color: rgb(252, 198, 198);
}
.transport-row-1{
    background-color: rgb(252, 233, 198);
}
.transport-row-2{
    background-color: rgb(252, 252, 198);
}
.transport-row-3{
    background-color: rgb(198, 225, 198);
}
.transport-row-4{
    background-color: rgb(219, 230, 248);
}
.transport-row-5{
    background-color: rgb(197, 197, 251);
}
.transport-row-6{
    background-color: rgb(252, 198, 252);
}