.editor input[type="number"]{
    width: 6em;
}
.left-button{
    border-radius: 8pt 0 0 8pt;
}
.middle-button{
    border-radius: 0;
}
.right-button{
    border-radius: 0 8pt 8pt 0;
}
.close-button{
    background-color: rgb(254, 235, 227);
    color: #2b2b2b;
}
.save-button{
    background-color: rgb(190, 255, 227);
    color: #2b2b2b;
}