.filter{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 201px;
}

.filter::-webkit-scrollbar-track {
    background: transparent;
}

.filter .group{
    font-size: 10pt;
    padding-left: 4pt;
    margin: 1pt;
    border: solid #be3300 1pt;
    overflow-y: scroll;
}
