.content-item{
    display: inline-block;
    position: relative;
}


.date-container .arrow{
    visibility: hidden;
}
.date-container .arrow:hover{
    text-shadow: 0 0 6px black;
}
.date-container:hover .arrow{
    visibility: visible;
}
