.modal-wrapper{
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    position: absolute;
}
.modal-body{
    border: solid gray 1.2pt;
    border-radius: 8pt;
    background-color: aliceblue;
    /*position: absolute;*/
    margin: auto;
    left: 0;
    right: 0;
    height: fit-content;
    /*top: 50%;*/
    /*bottom: 50%;*/
    width: fit-content;
    width: -moz-fit-content;
}
.modal-header-wrapper{
    border-radius: 7pt 7pt 0 0;
    font-style: italic;
    overflow: hidden;
}
.modal-header{
    background-color: #7fd0d0;
    padding: 4pt;
}
.modal-content{
    padding: 8pt;
}
.modal-close{
    float: right;
}
.modal-footer{
    text-align: center;
}