*{
    font-family: Gill Sans, sans-serif;;
    color: #333333;
    user-select: none;
    -moz-user-select: none;
    font-size: 10pt;
}
.attention{
    color: orangered;
    font-weight: bold;
    border-radius: 8pt;
}
.linux .chrome *{
    font-size: 10pt;
}
.note{
    font-size: 10pt;
    color: dimgray;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.filter{
    overflow-y: scroll;
}
body{
    background-color: aliceblue;
}
.blur{
    filter: blur(5pt);
}
button{
    border: solid #7ecfcf 1.2pt;
    min-width: 70pt;
    border-radius: 4pt;
    font-size: 10pt;
    background-color: whitesmoke;
}
input{
    border-radius: 8pt;
    padding: 0 6pt;
}
button:hover{
    box-shadow: 0 0 4pt 0 gray;
}
button:focus, input:focus{
    outline: none;
    border-color: #86cbcb;
}
.header-wrapper{
    width: 100%;
    background-color: #5F9EA0;

}
.header {
    padding-left: 8pt;
    padding-top: 1.5pt;
    padding-bottom: 1.5pt;
    display: inline-block;
}
.head-data{
    display: inline-flex;
    vertical-align: top;
    padding: 6pt 0;
}
.header-content{
    font-size: 18pt;
    padding: 0 8pt;
    font-weight: bold;
}
.header * {
    background-color: transparent;
}

.container-header{
    display: inline-block;
    padding: 1pt;
    vertical-align: text-bottom;
}

.modal-layer{
    width: 100%;
    max-width: 1390px;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(240, 248, 255, 0.65);
}
.work-area{
    height: 100%;
    max-height: 100%;
    max-width: 1170px;
    width: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: aliceblue;
}
.static-content{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;
    background-color: #5F9EA0;
}
.fast-container{
    border-left: solid gray 1pt;
    height: 100%;
}
.fast-content{
    height: 100%;
}
.item-container{
    display: flex;
    flex-direction: column;
}
.custom-data-list{
    font-size: 10pt;
    width: 250px;
    height: fit-content;
    background-color: white;
    color: #4c7b7b;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4pt 4px gray;
    margin-left: 4pt;
    max-height: 200pt;
    overflow-y: scroll;

}
.custom-data-list::-webkit-scrollbar {
    width: 4px;
}

.custom-data-list-item{
    border-bottom: dotted gray 1pt;
    padding: 8pt 4pt;
    overflow: visible !important;
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-rtl-ordering: logical;
}
.custom-data-list-item:hover{
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #fbba00;
}
::-webkit-scrollbar-thumb:hover {
    background: #f4b400;
}
.object-block{
    font-size: 10pt;
    display: inline-block;
    background-color: white;
    padding: 0 4pt;
    border-radius: 8pt;
    border: solid 1pt;
    margin-top: 1pt;
}
.object-menu{
    padding-left: 4pt;
    display: inline-block;
    visibility: hidden;
}
.object-block:hover .object-menu{
    visibility: visible;
}
.context-menu{
    font-size: 10pt;
    height: fit-content;
    background-color: white;
    color: #4c7b7b;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4pt 4px gray;
    margin-left: 4pt;
}
.menu-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 127, 255, 0.16);
    position: absolute;
    top: 0;
    left: 0;
}
.custom-data-list-item[disable]{
    color: #e2e2e2;
}
.datetime-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 207, 207, 0.32);
    z-index: 200;
}
.datetime-picker .picker-content{
    position: absolute;
    margin: auto;
}
.v-btn__content{
    align-items:center;
    border-radius:inherit;
    color:inherit;
    display:flex;
    flex:1 0 auto;
    justify-content:center;
    margin:0 auto;
    position:relative;
    transition:.3s cubic-bezier(.25,.8,.5,1);
    white-space:nowrap;
    width:inherit
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.mini-close{
    border-radius: 8pt;
    padding: 0 2px;
    position: relative;
    color: forestgreen;
    /*font-weight: bold;*/
    cursor: pointer;
}
.mini-close:hover{
    text-shadow: 0 0 2px gray;
}
.flipY{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    display: inline-block;
}

.error{
    color: orangered;
}
.error * {
    color: orangered;
}
input.error {
    border-color: orangered;
}

.edit-menu-header{
    position: relative;
    margin: 2pt;
    color: #808080;
}
.edit-menu-header .arrow{
    position: absolute;
    right: 50%;
    top: 0;
}
.edit-menu-header:hover .arrow{
    color: white;
}
.edit-menu-header:hover .edit-menu{
    display: block;
}
.edit-menu{
    display: none;
    position: absolute;
    width: 15em;
    right: -2px;
    top: 2px;
    background-color: #909090;
    padding: 1pt 4pt;
    font-size: 8pt;
    border-radius: 2pt;
    box-shadow: 0 0 6px 4px white;
    z-index: 100;
}
.edit-menu span{
    color: #d1d1d1;
    width: 100%;
    display: inline-block;
    padding: 2pt 2pt;
}

.edit-menu span:hover{
    color: #f0f0f0;
}
.page-container{
    padding: 4pt;
    margin: 2pt;
    box-shadow: 0 0 4px 2px gray;
}
.body-table {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.navigation-panel{
    display: flex;
    flex-direction: column;
}
.content{
    /*flex: 1 0 auto;*/
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-holder{
    display: flex;
    flex-direction: row;
    height: calc(100% - 34px);
    flex: 1 0 auto;
    border-left: solid gray 1px;
}
.underlined{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
.green{
    font-weight: bold;
    color: green;
}
.counterparty-code{
    position: relative;
}
.code-text{
    position: absolute;
    background-color: #5F9EA0;
    border: solid gray 1px;
    padding: 2px;
    left: 0;
}
.counterparty-code .code-text{
    display: none;
}
.counterparty-code:hover .code-text{
    display: block;
}
.code-valid{
    color: green;
}
.full-page{
    width: 100%;
    height: 100%;
}
.page-column{
    display: flex;
    flex-direction: column;
    /*flex: 1 0 auto;*/
}
.page-content{
    display: flex;
    flex-direction: row;
}
.tab{
    border: solid gray 1px;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 0 8px;
}
.tab-current{

}
.tab-content{
    width: 100%;
    height: 100%;
    border: solid gray 1px;
}
.probe-table{
    width: 100%;
    font-size: 10pt;
    margin-left: 18pt
}
.probe-table td{
    padding-left: 8pt;
}
.probe-table *{
    user-select: text;
    -moz-user-select: text;
}
.editor-column{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.tips{
    color: white;
    background-color: black;
    padding: 0 4px;
    border-radius: 500px;
    font-size: 10px;
}
.screen-locker{
    position: absolute;
    background-color: rgba(30, 30, 30, 0.7);
    z-index: 102;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.unlock {
    display: block;
}
.locker-text{
    max-width: 40%;
    margin-top: 20%;
    margin-left: 20%;
    width: fit-content;
}
.locker-text *{
    font-weight: bold;
    color: white;
    font-size: 18pt;
}

