*{
    font-family: SegouUI, monospace;
    color: #333333;
    user-select: none;
}
body{
    background-color: aliceblue;
}
button{
    border: solid #7ecfcf 1.2pt;
    min-width: 70pt;
    border-radius: 8pt;
    font-size: 10pt;
    background-color: whitesmoke;
}
input{
    border-radius: 8pt;
    padding: 0 6pt;
}
button:hover{
    box-shadow: 0 0 4pt 0 gray;
}
button:focus, input:focus{
    outline: none;
    border-color: #86cbcb;
}

.header {
    background-color: #d3dbe2;
    width: 100%;
}
.header-content{
    font-size: 18pt;
}
.header * {
    background-color: transparent;
}

.modal-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(240, 248, 255, 0.65);
}
.wrapper {
    border: solid gray 1pt;
    height: 100%;
    overflow-y: scroll;
}
.custom-data-list{
    font-size: 10pt;
    width: 250px;
    height: fit-content;
    background-color: white;
    color: #4c7b7b;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4pt 4px gray;
    margin-left: 4pt;
    max-height: 200pt;
    overflow-y: scroll;
}
.custom-data-list::-webkit-scrollbar {
    width: 4px;
}

.custom-data-list-item{
    border-bottom: dotted gray 1pt;
    padding: 8pt 4pt;
}
.custom-data-list-item:hover{
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: gray;
}
::-webkit-scrollbar-thumb {
    background: #fbba00;
}
::-webkit-scrollbar-thumb:hover {
    background: #f4b400;
}
.context-menu{
    font-size: 10pt;
    height: fit-content;
    background-color: white;
    color: #4c7b7b;
    position: absolute;
    z-index: 100;
    box-shadow: 0 4pt 4px gray;
    margin-left: 4pt;
}
.menu-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 127, 255, 0.16);
    position: absolute;
    top: 0;
    left: 0;
}
.custom-data-list-item[disable]{
    color: #e2e2e2;
}
.datetime-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 207, 207, 0.32);
    z-index: 200;
}
.datetime-picker .picker-content{
    position: absolute;
    margin: auto;
}
.v-btn__content{
    align-items:center;
    border-radius:inherit;
    color:inherit;
    display:flex;
    flex:1 0 auto;
    justify-content:center;
    margin:0 auto;
    position:relative;
    transition:.3s cubic-bezier(.25,.8,.5,1);
    white-space:nowrap;
    width:inherit
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}