.date-picker{
    position: absolute;
    background-color: white;
    font-size: 10pt;
}
.date-picker .v-date-picker-title{
    background-color: aliceblue;
    padding: 0 4pt;
}
.date-picker .v-date-picker-header{
    text-align: center;
}
.date-picker .v-date-picker-header *{
    display: inline-block;
}
.date-picker button{
    min-width: 0;
    border: none;
    color: white;
    padding: 0;
}
