.editor input[type="number"]{
    width: 6em;
}
.left-button{
    border-radius: 4pt 0 0 4pt;
}
.middle-button{
    border-radius: 0;
}
.right-button{
    border-radius: 0 4pt 4pt 0;
}
.close-button{
    background-color: rgb(254, 235, 227);
    color: #2b2b2b;
}
.save-button{
    background-color: rgb(205, 236, 211);
    color: #2b2b2b;
}
.date{
    width: 7em;
}
.deal-field{
    background-color: white;
    border: solid gray 1px;
    padding: 0 12px;
    font-size: 10pt;
    max-height: 160px;
    overflow-y: scroll;
}
.deal-field table *{
    background-color: transparent;
}
.editor input[type=number]{
    width: 8em;
}