.full-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*width: 440px;*/
}
.page-content{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.plan-wrapper{

}
.product-cell{
    border: solid gray 1pt;
}
.product-cell:hover{
    background-color: lightcoral;
}
.selected-cell{
    background-color: rgb(247, 190, 179);
}
.upper{
    background-color: rgb(153, 201, 136);
}
.plan-wrapper .upper{
    border-bottom: solid gray 1pt;
    padding: 2pt;
}
.lower{
    display: flex;
    flex-direction: row;
}
.plan-wrapper .lower{
    padding: 2pt;
}
.table-header{
    display: inline-block;
    text-align: center;
}
.plan-container{
    /*width: 400px;*/
    height: 100%;
    background-color: lightblue;
    overflow-y: scroll;
}
.plan-item{
    margin: 2pt;
    font-size: 10pt;
    border: solid black 1pt;
}
.minus-button{
    min-width: 0;
    border-radius: 8pt;
}
.fact-info{
    width: 9em;
    display: inline-block;
    text-align: right;
    position: relative;
}
.fact-info .fact-details{
    display: none;
}
.fact-info:hover {
    background-color: #757575;
    border-radius: 4pt 4pt 0 0;
    color: white;
}
.fact-info:hover * {
    color: white;
}
.fact-info:hover .fact-details{
    display: block;
}

.fact-details{
    position: absolute;
    background-color: #757575;
    border-radius: 0 0 4pt 4pt;
    padding: 2pt;
    z-index: 10;
    left: 0;
    right: 0;
}
.fact-details * {
    font-size: 8pt;
}