.navigation-menu{
    background-color: #d3dbe2;
    padding: 4pt;
    width: 190px;
}
.navigation-menu ul{
    padding-left: 0;
}
.navigation-menu[static]{

}
.navigation-menu[dynamic]{
    top: 24pt;
    left: 0;
    position: absolute;
    padding-right: 12pt;
}
.navigation-menu a{
    color: gray;
    font-size: 8pt;
    cursor: pointer;
    visibility: hidden;
}
.navigation-menu ul{
    background-color: transparent;
}
.menu-item:hover a{
    visibility: visible;
}
.menu-item a:hover{
    text-decoration: underline;
}
.navigation-menu li{
    list-style: none;
}
.menu-item {
    background-color: #e0e8ef;
    overflow: hidden;
    border-bottom: solid white 2pt;
}
.nav-menu-item{
    background-color: #e0e8ef;
    border-bottom: solid white 2pt;
}
.nav-menu-item:hover{
    background-color: white;
}
.menu-item:hover{
    background-color: #ffffff;
}
.menu-item * {
    background: transparent;
}
.menu-item .main, .nav-menu-item .main{
    display: inline-block;
    width: 70%;
    padding: 4pt;
}
.menu-item .archive{
    /*width: 20%;*/
}
.nav-drop-menu, .nav-drop-menu-item{
    position: relative;
}
.nav-drop-menu .nav-drop-menu-content{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 2pt;
    box-shadow: 0 0 18px 0;
    background-color: aliceblue;
    width: 190px;
    top: 0;
    left: 80%;
}
.nav-drop-menu .nav-drop-menu-item:hover .nav-drop-menu-content{
    display: block;
}