.navigation-menu{
    background-color: #d3dbe2;
    padding: 4pt;
    width: 220px;
}
.navigation-menu ul{
    padding-left: 4pt;
}
.navigation-menu[static]{

}
.navigation-menu[dynamic]{
    top: 24pt;
    left: 0;
    position: absolute;
    border-radius: 0 12pt 12pt 0;
    padding-right: 12pt;
}
.navigation-menu a{
    color: gray;
    font-size: 8pt;
    float: right;
    cursor: pointer;
    visibility: hidden;
}
.navigation-menu ul{
    background-color: transparent;
}
.menu-item:hover a{
    visibility: visible;
    text-decoration: underline;
}
.navigation-menu li{
    margin: 2pt;
    padding: 4pt;
    list-style: none;
    border-bottom: dotted gray 1pt;
}
.menu-item {
    background-color: #e0e8ef;
    border-radius: 8pt 8pt 0 0;
    overflow: hidden;
}
.menu-item:hover{
    background-color: #ffffff;
}
.menu-item * {
    background: transparent;
}