.vehicle-number{
    border-radius: 4pt;
    background: #ffffff;
    font-size: 10pt;
    padding: 0 2pt;
    margin: 0 1pt;
    border: solid gray 1pt;
}
.transport-label{
    display: inline-block;
    width: 5em;
}
.transporter-label{

}
.data-block{
    background-color: rgba(255, 255, 255, 0.4);
    border: solid gray 1pt;
    padding: 1pt 1pt 2pt;
    border-radius: 6pt;
}
