*{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    user-select: none;
    -moz-user-select: none;
}
body{
    background-color: aliceblue;
    margin: 0;
}
.search-result{
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 2;

}
.search-info{
    color: gray;
    font-size: 8pt;
    background-color: white;
}
.data-list{


}
.data-list-item{
    border-bottom: dashed gray 1px;
    padding: 2px 4px;
}
.text-button:hover{
    color: white;
    text-shadow: 0 0 4px #363636;
}
input[type=number]{
    width: 56pt;
}